# this is a git ignore file
# ignore all .pyc files
*.pyc
# ignore all __pycache__ directories
__pycache__/
# ignore environment directories
venv/
# ignore IDE specific files
.env
.vscode/
.idea/
# ignore system files
.DS_Store
.early.coverage
#pdfs related disaster precautions
rag_system/disaster_sops